/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Montserrat', sans-serif;
}

.flex-j-center{
  display: flex;
  justify-content: center;
}


/* general layouts */
header {
  width: 250px;
  height: calc(100vh - 100px);
  background-color: lightcyan;
}

main {
  width: calc(100vw - 250px);
  height: calc(100vh - 175px);
  margin-top: 75px;
  padding-bottom: 0px;
  background-color: #141922;
  overflow-y: scroll;
}

.main-content {
  width: 100%;
  height: 100%;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: lightgreen;
}

/* main */
.action-bar {
  position: fixed;
  width: calc(100vw - 250px);
  top: 0;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade{
  font-size: .5rem;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  background-color: #080b12;
  padding: .75rem 2rem;
  margin: 1rem .5rem;
  text-transform: uppercase;
  border-radius: 50px;
}

/* main-section */

.main-section ul{
  flex-wrap: wrap;
  list-style: none;
}

.main-section li{
  margin: 1rem;
  font-weight: bold;
  color: #76787d;
  display: inline;
  text-transform: uppercase;
}

/* songs-section */
.songs {
  margin: 2rem;
}

.songs h1 {
  margin: 1rem;
}

.songs>.caption{
  margin: 0 1rem;
}

.songs-container {
  gap: 1.5rem;
  margin: 2rem 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  flex-direction: column;
  align-items: center;
  width: calc(100% / 6 - 7.5rem / 6);
}

.card > *{
  margin-bottom: 1rem;
}
 
.song-pic{
  position: relative;
  width: 100%;
}

.song-pic img{
  display: block;
  width: 100%;
}

.round-pic img{
  border-radius: 50%;
}

.card h2{
  font-size: 1.2rem;
}

.caption{
  font-weight: bold;
  color: #76787d;
}

/* card-hover */

.song-pic i{
  display: none;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.song-pic:hover {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.song-pic:hover i{
  display: block;
}