/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.flex-j-center {
  display: flex;
  justify-content: center;
}


/* general layouts */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #000000;
  color: #76787d;
  font-weight: bold;
  overflow-y: hidden;
}

main {
  width: calc(100% - 250px);
  height: calc(100vh - 175px);
  margin-top: 75px;
  background-color: #141922;
  overflow-y: scroll;
}

.main-content {
  width: 100%;
  height: 100%;
  color: white;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #282828;
}

/* header */
nav>div {
  padding: 0 1rem;
}

.logo {
  padding: 1rem 0;
  width: 60%;
  margin-left: 1.5rem;
}

.logo-xs {
  display: none;
}

.menu-item {
  width: 13%;
  margin: .5rem;
  display: inline-block;
  vertical-align: middle;
}

.playlist {
  margin: .5rem;
}

.playlist h3 {
  color: #fff;
  margin-bottom: 1rem;
}

.menu-add {
  margin-bottom: 1rem;
}

.fa-square-plus {
  margin-right: .5rem;
  font-size: 3rem;
  vertical-align: middle;
}

header ul {
  list-style: none;
}

header li {
  padding-bottom: 1.5rem;
}

header a {
  text-decoration: none;
  color: #76787d;
}

.user {
  margin: 0 1rem;
}

.install {
  padding-bottom: .3rem;
  border-bottom: 1px solid #76787d;
}

.install-icon {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

.user-account {
  margin: 1rem 0;
}

.profile-pic {
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  background-color: #76787d;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: .5rem;
}

.user-name {
  font-size: 1.2rem;
  color: #fff;
}


/* main */
.action-bar {
  position: fixed;
  width: calc(100vw - 250px);
  top: 0;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade {
  font-size: .5rem;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  background-color: #080b12;
  padding: .75rem 2rem;
  margin: 1rem .5rem;
  text-transform: uppercase;
  border-radius: 50px;
}

/* main-section */

.main-section ul {
  flex-wrap: wrap;
  list-style: none;
}

.main-section li {
  position: relative;
  margin: 1rem;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}

.main-section a {
  text-decoration: none;
  color: #76787d;
}

/* songs-section */
.songs {
  margin: 1rem;
}

.songs>.caption {
  margin: 1rem 0;
}

.songs-container {
  gap: 1.5rem;
  margin: 2rem 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: calc(100% / 6 - 7.5rem / 6);
}

.card>* {
  margin-bottom: 1rem;
}

.song-pic {
  position: relative;
  width: 100%;
}

.song-pic img {
  display: block;
  width: 100%;
}

.round-pic img {
  border-radius: 50%;
}

.card h2 {
  font-size: 1rem;
}

.caption {
  font-size: .8rem;
  font-weight: bold;
  color: #76787d;
}

/* footer */
.col-30{
  display: flex;
  align-items: center;
  width: 30vw;
}

.col-40{
  width: 40vw;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer left-side */
.col-left> div{
  margin-left: .5rem;
}

.song-player-pic{
  width: 50px;
}

.song-player-pic img{
  width: 100%;
}

.col-left h5{
  color: #fff;
}

.song-caption .caption{
  font-size: .6rem;
}

.more i{
  margin: .25rem;
  font-size: 1.3rem;
  color: #76787d;
}

/* footer center */
.task-btn i{
  color: #fff;
  margin: 0 .5rem;
  vertical-align: middle;
}

.task-btn .fa-circle-play{
  font-size: 2rem;
}

.play-progress{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
  margin-top: 1rem;
}

.play-progress .bar{
  margin: 0 1rem;
  width: 70%;
  height: 5px;
  border-radius: 50px;
  background-color: #76787d;
}

.play-progress .progress{
  width: 20%;
  height: 5px;
  border-radius: 50px;
  background-color: #c1c1c1;
}

/* footer right-side */
.col-right{
  justify-content: flex-end;
  color: #fff;
}

.col-right i {
  margin-right: .5rem;
}

.col-right .bar{
  width: 100px;
  height: 5px;
  margin-right: 1rem;
  background-color: #76787d;
  border-radius: 50px;
}

.col-right .progress{
  width: 60%;
  height: 5px;
  background-color: #c1c1c1;
  border-radius: 50px;
}

/* main-section hover */
button{
  cursor: pointer;
}

.upgrade:hover {
  scale: 1.05;
}

.main-section a:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background-color: #adff2f;
}

.main-section a:hover {
  color: #fff;
  cursor: pointer;
}

/* card-hover */
.song-pic i {
  display: none;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.song-pic:hover img {
  filter: brightness(.5);
}

.song-pic:hover i {
  display: block;
  cursor: pointer;
}


/* home-btn hover */
.home-btn:hover {
  position: relative;
}

.home-btn:hover::before {
  content: '';
  position: absolute;
  left: 0;
  width: 5px;
  margin: 0 auto;
  height: 90%;
  background-color: #adff2f;
}

.home-btn:hover a{
  color: #fff;
}

.menu-add:hover {
  color: #fff;
}

.menu-add:hover a {
  color: #fff;
}

.playlist li:hover a {
  color: #fff;
}

.install:hover a {
  color: #fff;
}

/* footer hover */
.col-left .caption:hover{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.col-left i:hover{
  color: #fff;
  cursor: pointer;
}

.task-btn i:hover{
  scale: 1.1;
  cursor: pointer;
}

.progress:hover{
  background-color: #adff2f;
  position: relative;
  cursor: pointer;
}

.progress:hover::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

/* media queries */
@media screen and (max-width:992px) {
  .card {
    width: calc(100% / 4 - 4.5rem / 3);
  }
}

@media screen and (max-width:768px) {
  .card {
    width: calc(100% / 2 - 1.5rem / 2);
  }
}

@media screen and (max-width:576px) {
  header{
    width: 60px;
  }
  main{
    width: calc(100% - 60px);
  }
  .action-bar{    
    width: calc(100% - 60px);
  }
  .logo{
    display: none;
  }
  .logo-xs{
    padding: 1rem;
    margin: 0 auto;
    display: block;
  }
  .menu-item{
    width: 90%;
    margin: .5rem auto;
  }
  .install-icon{
    width: 60%;
    margin: auto;
  }
  header a{
    display: none;
  }
  header h3{
    display: none;
  }
  .col-30 i {
    font-size: .9rem;
  }
  .col-right i{
    font-size: .8rem;
  }
  .task-btn i{
    margin: 0 .25rem;
  }
}